body {
    max-width: 100%;
    height: auto;
    background: url("./images/stemwijzer.png") no-repeat center fixed;
    background-size: cover;
  }
#panel{
  align-content:center;
  margin-top: 5em;
  height: 30em;
}
#buttonStart{
  margin-top: 16%;
}
.btn{

  margin-bottom: 2em;
}
ol {
  list-style-type: none;
}