body {
  max-width: 100%;
  height: auto;
  background: url("./images/stemwijzer.png") no-repeat center fixed;
  background-size: cover;
}

#panel {
  background-color: rgba(255, 255, 255, 0.739);
  margin-top: 5em;
  padding: 2em;
  height: 20%;
  width: 100%;
}

.subjectTitle {
  margin-top: 1em;
}
.subjectDiscription{
  margin-top: 2em;
  padding: 2em;
}
#terugButton {
  margin-bottom: 2em;
}
#alert{
  margin-left: 5em;
}


.panelbox {
  margin-left: 10%;
}
#buttonStart {
  margin-top: 16%;
}

.btn {
  margin-bottom: 2em;
  margin-top: 2em;
}

ol {
  list-style-type: none;
}